<p>
This is a custom login screen.
</p>

<p>
Failed login attempts are flagged in the Rack environment as <code>aker.form.login_failed</code>.
</p>

You'll want to have a form that looks like this:

<%= form_tag('/login') do %>
  <% if request.env['aker.form.login_failed'] %>
  Login failed.
  <% end %>

  <%= text_field_tag "username" %>
  <%= password_field_tag %>
  <%= submit_tag "Login" %>
<% end %>
